body {
    background-image: url(assets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.content {
    padding: 120px 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: fit-content;
}

.tipe {
    text-align: center;
    line-height: 1.5;
}

.tipe span {
    margin-left: 20px;
}

input[type=date] {
    width: 220px;
}

button {
    margin: 20px 0 10px 0;
}